<div class="bodyWithMargin">

  <!--add group-->
  <form #newGroupForm="ngForm" (ngSubmit)="addNewGroup( newGroupForm )">
    <md-input-container>
      <input mdInput name="newGroupName" ngModel  placeholder="Group Name" required>
    </md-input-container>
    <md-input-container >
      <input mdInput name="newGroupPassword" ngModel  placeholder="Group Password" required>
    </md-input-container>
    <!--<button md-mini-fab color="primary">-->
    <button type="submit" md-mini-fab color="primary"
        [disabled]="!newGroupForm.form.valid">
      <md-icon>add</md-icon>
    </button>
  </form>


  <div id="gameGroupsList">
    <span class="group" *ngFor="let group of localGameGroups; let idx = index">
      <button md-raised-button color='primary' (click)='groupClicked(idx)'>
        {{group.name}}
      </button>
    </span>
  </div>

</div>
